* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  max-width: auto;
  height: 75px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin: 10%;
}

.card_p {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

img {
  /* object-fit: contain; */
  width: 100%;
  height: 80%;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal_cont {
  background-color: #ddbcbc;
  margin: auto;
  border: 1px solid #888;
  width: 25%;
  text-align: center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
