* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  max-width: auto;
  height: 75px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin: 10%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

.div5 {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

.div6 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

.div7 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

.div8 {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

.div9 {
  grid-area: 2 / 4 / 3 / 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

.div10 {
  grid-area: 2 / 5 / 3 / 6;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}

img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}

.div11 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
.div12 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
.div13 {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
.div14 {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
.div15 {
  grid-area: 3 / 5 / 4 / 6;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
.div16 {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
.div17 {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
.div18 {
  grid-area: 4 / 3 / 5 / 4;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
.div19 {
  grid-area: 4 / 4 / 5 / 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
.div20 {
  grid-area: 4 / 5 / 5 / 6;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #000;
}
