* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.logo {
  max-width: auto;
  height: 75px;
}

.container {
  background-color: rgb(253, 233, 233);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 7px;
  margin: 10%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div1 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div2 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div3 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div4 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div5 {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div5 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div6 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div6 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div7 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div7 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div8 {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div8 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div9 {
  grid-area: 2 / 4 / 3 / 5;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div9 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div10 {
  grid-area: 2 / 5 / 3 / 6;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div10 img {
  object-fit: contain;
  width: 100%;
  height: 60px;
}
.div11 {
  grid-area: 3 / 1 / 4 / 2;
}
.div12 {
  grid-area: 3 / 2 / 4 / 3;
}
.div13 {
  grid-area: 3 / 3 / 4 / 4;
}
.div14 {
  grid-area: 3 / 4 / 4 / 5;
}
.div15 {
  grid-area: 3 / 5 / 4 / 6;
}
.div16 {
  grid-area: 4 / 1 / 5 / 2;
}
.div17 {
  grid-area: 4 / 2 / 5 / 3;
}
.div18 {
  grid-area: 4 / 3 / 5 / 4;
}
.div19 {
  grid-area: 4 / 4 / 5 / 5;
}
.div20 {
  grid-area: 4 / 5 / 5 / 6;
}
.div21 {
  grid-area: 5 / 1 / 6 / 2;
}
.div22 {
  grid-area: 5 / 2 / 6 / 3;
}
.div23 {
  grid-area: 5 / 3 / 6 / 4;
}
.div24 {
  grid-area: 5 / 4 / 6 / 5;
}
.div25 {
  grid-area: 5 / 5 / 6 / 6;
}
